body{
    background-color: lightsteelblue;
}
.título{
    font-size: 28px;
    text-align: center;
    color:yellow;
}

.looksfamiliar{
    color: yellow;
}
.warbonds{
    /*  font-size: 20px;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif; */
background-color: blueviolet;
display:grid;
grid-template-columns:repeat(3, 2fr)

}
.warbond{
}
.a{
     display: flex;
}
